[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-cors-headers = "*"
djangorestframework = "*"
pillow = "*"
django = "*"
braintree = "*"
django-csp = "*"
virtualenv = "*"
mysqlclient = "*"
psycopg2 = "*"
django-storages = "*"
boto3 = "*"
gunicorn = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"
