[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-cors-headers = "*"
djangorestframework = "*"
pillow = "*"
django = "==3.0.8"
braintree = "*"
django-csp = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"
